.vscode/**
.github/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json

.DS_Store
.env*
!.env.example
scripts/**
media/editor/main.js
media/editor/dist/test-renderer.js
media/editor/dist/test-renderer.css
